/*GENERAL VARIABLES*/

$width: 1250px;
$primary-color: #F17D80;
$text-color: #6C6E70;
$general-font: 'Helvetica';

/*MENU VARIABLES*/

$menu-background: #E2D893;
$menu-font-size: 21px;

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: $general-font;
}

h3, h1{
	color: $text-color;
}

.container{
	width: $width;
	margin: 0 auto;
	background-color: $primary-color;
}

#header{
	width: 100%;
	text-align: center;
	height: 100px;
	overflow: hidden;

	h1{
		color: $text-color;
		margin: 40px;
		float: left;
	}
}

@import 'menu_style';

#wrapper{
	width: 100%;
	line-height: 1.5;
	padding-top: 30px;
	float: left;
	min-height: 650px;
}

.three_boxes{	
	background-color: $menu-background;
	height: 150px;	
	margin-left: 0;
}

.div_content{
	margin: 10px;
}

.sidebar-left{
	@extend .three_boxes;
	float: left;
	min-height: 430px;
	width: 230px;
	margin-left: 20px;
}

#article{
	@extend .three_boxes;
	float: left;
    margin-left: 12px;
    width: 725px;
}

.sidebar-right{
	@extend .three_boxes;
	float: right;
	min-height: 430px;	
	width: 230px;
	margin-right: 20px;
}

#footer{
	clear: both;
	height: 50px;
	background-color: $menu-background;
	color: $text-color;

	span{
		float: right;
		margin: 15px 15px 0 0;
	}
}

@mixin new-div-here($div-width, $div-height, $div-bg-color){
		width: $div-width;
		height: $div-height;
		background: $div-bg-color;
}

.nesto{
	@include new-div-here(97%, 220px, $menu-background);
	clear: both;
	float: left;
	margin: 20px 19px;
};

